manifest {
    mainScript = 'LARRI.nf'
    nextflowVersion = '>=22.01.0'
}

// default parameters
params {
    max_cores = Runtime.runtime.availableProcessors()
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    memory = '24 GB'
    help = false
    profile = false

    //input
    bam = ''
    fastq = ''
    pod5 = ''
    sample_sheet = ''

    // pipeline settings
    demux = false
    run_dorado_with_gpu = true
    modifications = false
    genome_size_mb = '3.5'
    params.basecalling = false
    run_filtlong = true
    run_rasusa = true

    // tool settings
    min_length_filtlong = 500
    coverage_rasusa = 100
    //medaka_model = 'r1041_e82_400bps_sup_v5.0.0'
    medaka_model = ''
    bacteria_flag_medaka = true
    dorado_kit = 'SQK-NBD114-24'
    dorado_models_folder = "dorado_models"

    //output
    outdir = "results"

    // location for storing singularity images
    singularityCacheDir = 'singularity'
}

// runinfo
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "${params.outdir}/pipelines_runinfo/execution_timeline_${trace_timestamp}.html"
}

report {
  enabled = true
  file = "${params.outdir}/pipelines_runinfo/execution_report_${trace_timestamp}.html"
}

profiles {
    ////////////////////////////////////////////////////
    // executors

    local {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        includeConfig 'configs/local.config'
    }

    slurm {
        executor {
            name = "slurm"
            queueSize = 100
            // exitReadTimeout = "360 sec"
            // submitRateLimit = '1 / 2 s'
            // pollInterval = '30 sec'
        }
        process.cache = "lenient"
        includeConfig 'configs/nodes.config'
    }

    slurm_priority {
        process {
            clusterOptions = '--partition=priority'
        }
    }

    ////////////////////////////////////////////////////
    // engines 

    docker {
        docker { 
            enabled = true
        }
        includeConfig 'configs/container.config'
    }

    singularity {
        singularity { 
                enabled = true
                autoMounts = true
                pullTimeout = "1h"
                cacheDir = params.singularityCacheDir
                envWhitelist = "HTTPS_PROXY,HTTP_PROXY,http_proxy,https_proxy,FTP_PROXY,ftp_proxy"
        }
        includeConfig 'configs/container.config'
    }    

/*
    conda { 
        conda {
            enabled = true
            cacheDir = params.conda_cache_dir
        }
        includeConfig 'configs/conda.config'
    }
    mamba { 
        conda {
            enabled = true
            useMamba = true
            cacheDir = params.conda_cache_dir
        }
        includeConfig 'configs/conda.config'
    }
*/

    ////////////////////////////////////////////////////
    // pre-configured profile combinations
    // local execution with docker
    standard {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        docker { 
            enabled = true
        }
        includeConfig 'configs/local.config'
        includeConfig 'configs/container.config' 
    }

}
