process {
    withLabel: samtools     { container = 'rkimf1/minimap2-samtools:2.28--4176384' }
    withLabel: filtlong     { container = 'nanozoo/filtlong:0.2.0--0c4cbe3'}
    withLabel: rasusa       { container = 'staphb/rasusa:2.1.0'}
    withLabel: flye         { container = 'staphb/flye:2.9.5'}
    withLabel: medaka       { container = 'rkimf1/medaka:2.0.1--ef28b94'}
    withLabel: dorado       { container = 'nanozoo/dorado:0.9.1--871d1b1'}
}
