process {
    withLabel: samtools     { cpus = params.cores}
    withLabel: filtlong     { cpus = params.cores}
    withLabel: rasusa       { cpus = params.cores}
    withLabel: flye         { cpus = params.max_cores}
    withLabel: medaka       { cpus = params.max_cores}
    withLabel: dorado       { cpus = 2}
}