process {
    withLabel: samtools     { cpus = 2; memory = '8 GB' }
    withLabel: filtlong     { cpus = 4; memory = '8 GB' }
    withLabel: rasusa       { cpus = 4; memory = '8 GB' }
    withLabel: flye         { cpus = 16; memory = '16 GB'}
    withLabel: medaka       { cpus = 16; memory = { 16.GB * task.attempt } ; maxRetries = 3 ; errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' } }
    withLabel: dorado       { cpus = 16; memory = { 16.GB * task.attempt } ; maxRetries = 3 ; errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' } } 
}
