process {
    withLabel: samtools     { cpus = params.cores; memory = params.memory }
    withLabel: filtlong     { cpus = params.cores; memory = params.memory }
    withLabel: rasusa       { cpus = params.cores; memory = params.memory }
    withLabel: flye         { cpus = params.cores; memory = params.memory}
    withLabel: medaka       { cpus = params.max_cores; memory = params.memory }
    withLabel: dorado       { cpus = params.cores; memory = params.memory }  //todo, more memory here
}
